version: "3.9"
services:
  app:
    build: .
    environment: 
      TERM: xterm
      NODE_PATH: /usr/local/lib/node_modules/
    command: npm run watch
    volumes:
      - ./:/usr/src/app/
      - /usr/src/app/node_modules